table {
  width: 100%;
 /* table-layout: fixed; */
}

th, td {
 /* overflow: hidden; */
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-self: stretch;
  border-right: 1px solid black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 2px solid rgba(0, 0, 0, 0.12);
}

.export-container {
  text-align: right;
  margin-bottom: 20px;
}
