
<div class="container py-5">
  <div class="row" cdkDropListGroup>
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let taskGroup of taskGroups" cdkDropList [cdkDropListData]="taskGroup.tasks" (cdkDropListDropped)="onTaskDrop($event)">

      <div class="bg-light shadow rounded p-3">
        <h2 class="font-weight-normal text-center">{{ taskGroup.title }}</h2>
        <div class="bg-white shadow my-2 p-3" *ngFor="let task of taskGroup.tasks" cdkDrag>
          <h4 class="font-weight-normal">{{ task.title }}</h4>
          <p class="lead mb-0">{{ task.description }}</p>
        </div>
      </div>

    </div>
  </div>
</div>
<!--
<h1>Vertical Menu</h1>

<div class="vertical-menu">
  <a href="#" class="active">Home</a>
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  <a href="#">Link 4</a>
</div>
-->

<router-outlet></router-outlet>