
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div>
    <ejs-daterangepicker #ejDateRangePickers [(ngModel)]='value'  width="230px" (enabled)="change($event)" [enabled]="is_checkbox_date_checked" (change)="change($event)"></ejs-daterangepicker>
    <span *ngIf="is_Date_Range_NULL && is_checkbox_date_checked" class="alert alert-danger">DateRange Can't be NULL</span><br/>
    <mat-checkbox checked="true" (change)="change_checkbox($event)">Utiliser comme dimension</mat-checkbox>
    </div>   
    
<!-- New added -->
<div class="split-example ex1" style="height: 500px;">
  <as-split [gutterSize]="30" direction="vertical" >
    <as-split-area [visible]="actionSplit.isVisibleA" [order]="0">
      <div class="example-list" *ngFor="let taskGroup of meta_data; let i = index" cdkDropList [cdkDropListConnectedTo]="connectedTo" [cdkDropListData]="taskGroup.tasks" (cdkDropListDropped)="drop($event)">
    
        <div class="bg-light shadow rounded p-3">
          <h2 class="font-weight-normal text-center">{{ taskGroup.title }} </h2>
               
          <div class="example-box" *ngFor="let task of taskGroup.tasks" cdkDrag>
            <h4 class="font-weight-normal">{{ task.title }}
  
            </h4>
           <!-- <p class="lead mb-0">{{ task.description }}</p>-->
        
          </div>
        </div>
  
      </div>

    </as-split-area>

  </as-split>

  
</div>



    
  </mat-drawer>
  <mat-drawer-content>
    <div class="container py-3">
      <app-menu-of-charts></app-menu-of-charts>
      <div class="row" cdkDropListGroup>
        <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let taskGroup of taskGroups; let i = index" id="{{i}}" cdkDropList  [cdkDropListData]="taskGroup.tasks" (cdkDropListDropped)="onTaskDrop($event)">
    
          <div class="bg-light shadow rounded p-3">
            <h2 class="font-weight-normal text-center">{{ taskGroup.title }} </h2>
                  <div style="text-align:center;" *ngIf="taskGroup.title=='Abscisse' && !isAbscisseValid"> 
                    <span class="alert alert-danger" >Vous devez sélectionner un seul Item</span>
                  </div>   
                  <div style="text-align:center;" *ngIf="taskGroup.title=='Ordonnée' && isAbscisseValid && isGroupByValid && !isOrdonneeValid && isComboValid"> 
                    <span class="alert alert-danger" >Vous devez sélectionner un Item</span>
                  </div>
                  <div style="text-align:center;" *ngIf="taskGroup.title=='Ordonnée' && isAbscisseValid && isGroupByValid && !isOrdonneeValid && !isComboValid"> 
                    <span class="alert alert-danger" >Vous devez sélectionner deux Items</span>
                  </div>
                  <div style="text-align:center;" *ngIf="taskGroup.title=='GROUP BY' && !isGroupByValid && isAbscisseValid && isMultiParamsGroupByAllowed"> 
                    <span class="alert alert-danger" >Vous devez sélectionner un Item </span>
                  </div>   
                  <div style="text-align:center;" *ngIf="taskGroup.title=='GROUP BY' && isAbscisseValid && !isMultiParamsGroupByAllowed"> 
                    <span class="alert alert-info" >GROUP BY Not Allowed for this chart </span>
                  </div>   
            <div class="bg-white shadow my-2 p-3" *ngFor="let task of taskGroup.tasks" cdkDrag>
              <h4 class="font-weight-normal">{{ task.title }}
    
                <span style="float:right;" (click)="delete(task,taskGroup.title)" class="material-icons">
                  delete
                  </span>
                  <span *ngIf="taskGroup.title!='Ordonnée';else other_content" style="float:right;" (click)="filter(task)" class="material-icons">
                    local_bar
                    </span>
                    <ng-template #other_content>
                      <span class="material-icons" style="float:right;" (click)="function_to_use(task.title)">
                        label_important
                      </span>

                    </ng-template>
    
              </h4>
             <!-- <p class="lead mb-0">{{ task.description }}</p>-->
          
            </div>
          </div>
    
        </div>
      </div>
    </div>
    <!--
    <h1>Vertical Menu</h1>
    
    <div class="vertical-menu">
      <a href="#" class="active">Home</a>
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      <a href="#">Link 4</a>
    </div>
    -->
    
    <div style="display: table;margin: auto;">
    <router-outlet></router-outlet>
    <br/>
    <app-export-pdf></app-export-pdf>
    </div>

    

  </mat-drawer-content>
</mat-drawer-container>
 

<!--
#wrap {
  float: left;
  position: relative;
  left: 50%;
}

#content {
  float: left;
  position: relative;
  left: -50%;
}
-->