<combo-chart-component id="chart" *ngIf="barChart.length > 0 || lineChartSeries.length>0;else empty"
[view]="view"
[scheme]="comboBarScheme"
[colorSchemeLine]="lineChartScheme"
[results]="barChart"
[animations]="animations"
[lineChart]="lineChartSeries"
[yAxisTickFormatting]="yLeftTickFormat"
[yLeftAxisScaleFactor]="yLeftAxisScale"
[yRightAxisScaleFactor]="yRightAxisScale"
[yRightAxisTickFormatting]="yRightTickFormat"
[gradient]="gradient"
[xAxis]="showXAxis"
[yAxis]="showYAxis"
[legend]="showLegend"
[legendTitle]="legendTitle"
[legendPosition]="legendPosition"
[showGridLines]="showGridLines"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[showRightYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
[yAxisLabelRight]="yAxisLabelRight">
</combo-chart-component>
<ng-template #empty>
<div style="text-align :center;" class="alert alert-danger">No DATA Found</div>


</ng-template>
<br/>
<!--
<app-export-pdf ></app-export-pdf>
-->
<br/>
<div>
    <app-mat-table [data]="barChart" [dataLineChart]="lineChartSeries"></app-mat-table>
</div>
